<div class="container__sobre">
  <div class="sobre-close">
    <a routerLink="/board">X</a>
  </div>
  <div class="sobre">
    <p class="sobre-header">Sobre</p>
    <p class="sobre-message">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ex
      totam illum quae fuga dolor neque expedita? Expedita deleniti odio
      molestiae beatae rerum harum, laudantium quasi, quod iste eligendi, illo
      nobis. Sed esse deserunt repellat maxime eligendi fuga qui, debitis
      corrupti laborum suscipit maiores, architecto quibusdam cum, quia ea error
      laudantium? Quae itaque tempore molestiae! Ullam qui repellendus hic
      dolorem aspernatur est rem, sit, quod illum perferendis tempore. Facilis
      vero explicabo facere cum ea ad dolore, quia harum aliquid molestias dolor
      quasi iure, blanditiis magnam beatae praesentium, fugit adipisci ex
      laudantium ut repellat fuga totam possimus. Alias repudiandae consequuntur
      ipsam?
    </p>
    <div class="sobre-infos">
      <div class="devs">
        <h3>Desenvolvedor</h3>
        <p>Márcio Henrique Lima de Oliveira</p>
      </div>
      <div class="orientadores">
        <h3>Orientadores</h3>
        <div class="orientadores-nomes">
          <p>Diego Pereira</p>
          <p>Leandro Sodré</p>
        </div>
      </div>
    </div>
  </div>
</div>
