<!-- Atualizar -->
<div class="modal fade fundo" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header  bg-success text-white">
                <h1 class="modal-title fs-2" id="exampleModalToggleLabel">
                    <i class="pi pi-user" style="font-size: 1.8rem"></i>  Atualizar Pefil
                </h1>
                <button type="button" class="btn text-white fs-3" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()">X</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">
                            <p class="h5">Nome:</p>
                        </label>
                        <input type="text" class="form-control inputModal" id="name" name="name"  [(ngModel)]="user.name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="col-form-label">
                            <p class="h5">Email:</p>
                        </label>
                        <input class="form-control areaModal" id="email" name="email" [(ngModel)]="user.email">
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-md-center">
                <button class="btn btn-success btn-lg" (click)="onSubmit()">Atualizar</button>
            </div>
            <div class="d-flex justify-content-center align-items-center text-center w-100">
                <app-alert [message]="message" [showAlert]="showAlert" [error]="error"></app-alert>
            </div>
        </div>
    </div>
</div>
<!-- Fim Atualizar -->
<!-- Inicio atualizar senha -->
<div class="modal fade fundo" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-2" id="exampleModalToggleLabel">
                    <b><i class="pi pi-lock" style="font-size: 1.8rem;"></i></b>
                    Alterar Senha
                </h1>
                <button type="button" class="btn text-white fs-3" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()">X
                </button>
            </div>
            <div class="modal-body fundoPerfilUser">
                <form>
                    <div class="mb-3 ">
                        <label for="senha" class="col-form-label">
                            <p class="h5">Senha</p>
                        </label>
                        <div class="card flex justify-content-center"> 
                            <input class="form-control areaModal" id="senha" name="senha" [(ngModel)]="user.password">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-md-center ">
                <button class="btn btn-success btn-lg" (click)="onSubmit()">Alterar</button>
            </div>
            <div class="d-flex justify-content-center align-items-center text-center w-100">
                <app-alert [message]="message" [showAlert]="showAlert" [error]="error"></app-alert>
            </div>
        </div>
</div>
